.viminfo
.wget-hsts

.ansible/
.bash_history
.bash_logout
.bashhrc
.bundle/
.cache/
.cargo/
.config/
.cpanm/
.lesshst
.local/
.npm/
.perl-cpm/
.proifile
.rustup/
.ssh/
go/
zshrc
local/
webapp/go/
webapp/perl/
webapp/php/
webapp/python/
webapp/ruby/
webapp/rust/

tools
